body {
    background-color: green;
    margin: 0 auto;
    padding: 0;
}

.carousel{
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

img{
    position: relative;
    float: left;
    width:  50px;
    height: 400px;
    /*
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center;
    */
}

.TOTALdiv {
    margin: auto;
    width: 25%;
    background: orange;
    margin-top: 30px;

}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  

  .tab button {
    background-color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 25px 24px;
    transition: 0.3s;
  }
  
  
  .tab button:hover {
    background-color: #ff0000;
  }
  

  .tab button.active {
    background-color: #ccc;
  }
  
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


.footer-content {
    margin-top: 100px;
    margin-left: 400px;
    color: yellow;
    font-family: 'Abril Fatface', cursive;

}

.footer {
    margin-left: 700px;
    color: yellow;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 20px;
    background-color: green;
}